* {
    box-sizing: border-box;
    margin: 0 0 1.6em 0;
}

body {
    margin-bottom: 0;
    font-family: "Courier Prime", "Courier", monospace;
    font-size: 16px;
    line-height: 1.6em;
    background: #F6F6F6;
    color: #2B2B2B;
}

@media all and (max-width: 440px) {
    body {
        font-size: 12px;
        line-height: 1.4em;
    }
}

.cover {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    padding: 1.6em;
    text-align: center;
}

.cover svg {
    width: 5em;
    height: 5em;
    margin-left: 15px;
}

h1, h2, .sans, .logo {
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.logo {
    font-size: 16px;
    line-height: 1.6em;
    font-weight: bold;
}

.logo svg {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: top;
}

.logo .write {
    color: #2B2B2B;
}

h1 {
    font-size: 2em;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 1em;
}

.cover p {
    max-width: 24em;
}

a {
    color: #73819E;
    transition: color .1s linear;
    text-decoration: none;
}

a:hover {
    color: #DF5731;
}

#icon-envelope {
    fill: #2B2B2B;
}

#icon-badge {
    fill: #DF5731;
    transition: fill .1s linear;
}

form {
    border: 1px solid;
    padding: 1.6em;
    background: #FFFFFF;
}

label {
    display: block;
}

input, button {
    display: inline-block;
    margin-bottom: 0;
    padding: .5em;
    border: none;
    border-bottom: 1px dotted;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    line-height: 1.6em;
}

button {
    border-bottom: none;
    background: #DF5731;
    color: #FFFFFF;
}

header {
    padding: 1em;
    text-align: center;
}

footer {
    text-align: center;
    font-size: .8em;
}

footer p {
    max-width: 100%;
    margin-bottom: 0;
    text-align: center;
}

footer ul {
    margin-bottom: 0;
    padding-left: 0;
}

footer li {
    display: inline-block;
    margin-bottom: 0;
    padding: 1em;
}

article.about {
    max-width: 40em;
    padding: 1em;
    margin: 0 auto;
}

article.about h1 {
    padding-bottom: 1em;
    border-bottom: 1px dotted #73819E;
